<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
    
    <title>Document</title>
</head>
<body id="listEdit" class="mainejs">
    <header>
        <h1 class="heading">Edit <%=list.title%> list</h1>
            <nav>
                <ul>
                    <li>
                        <a href="/lists/<%=list._id%>"> <button>Back</button> </a>
                    </li>
                    <li>
                        <a href="/lists"><button>All Lists</button></a>
                    </li>
                    <li>
                        <a href="/"><button>Logout</button></a>
                     </li>
                </ul>
            </nav>  
    </header>

    <main id="listEMain">
        <h2>List Attributes</h2>

        <form action="/lists/<%=list._id%>?_method=PUT" method="POST">
            Select which group the list belongs: <select name="groupId">
                <% for(let i = 0; i < groups.length; i++) { %>
                <option value="<%=groups[i]._id%>" <% if(groups[i]._id.toString() === listGroup._id.toString()){ %> selected
                    <% } %>>
                    <%=groups[i].name%>
                </option>
                <% } %>
            </select><br />
            Edit list title: <input type="text" name="title" value="<%=list.title%>"> <br>
            Edit list items: <input type="text" name="items" value="<%=list.items%>"> <br>
            Edit list due date: <input type="text" name="dueDate" value="<%=list.dueDate%>"> <br>
            <button type="submit">Update List</button>
        </form>
    </main>
</body>
</html>