<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
    
    <title>List Show</title>
</head>
<body id="listShow" class="mainejs">
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/lists"><button>Back to <br> group lists</button></a>
                </li>
                <li>
                    <!--Mike this is another spot where we will need to be
                    specific about going back to the group associated
                    with the list -->
                    <a href="/groups"><button>Back to <br> Get Together</button></a>
                </li>
                <li>
                    <a href="/"><button>Logout</button></a>
                </li>
            </ul>
        </nav>
    </header>
    <main id="listSMain">
        <h1> <%= list.title%> </h1>
        <small>List from Group: <a href="/groups/<%=group._id%>"><%=group.name%></a></small>
        
        <h2> Due: <%=list.dueDate%> </h2>
        
        <ul>
            <%for (let i = 0; i < list.items.length; i++) { %>
                <li>
                    <%=list.items[i] %>
                </li>
                <% } %>
        </ul>
        <section>
            <a href="/lists/<%=list._id%>/edit"><button>Edit List</button></a>
            <form action="/lists/<%=list.id%>?_method=DELETE" method="POST">
                <button type="submit">Delete List</button>
            </form>
        </section>
    </main>
</body>
</html>