<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../../CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">

    <title>Group Edit</title>
</head>

<body id="groupEdit" class="mainejs">
    <header >
        <h1 class="heading">Edit <%=group.title%>'s Info</h1>
        <nav>
            <ul class="navUl">
                <li>
                    <a href="/groups/<%=group._id%>"> <button>Back</button> </a>
                </li>
                <li>
                    <a href="/groups"> <button>My Groups</button></a>
                </li>
                <li>
                    <a href="/"><button>Logout</button></a>
                </li>
            </ul>
        </nav>
    </header>
    <main id="groupEMain">
        <h2 class="heading">Group Attributes:</h2>
        <form action="/groups/<%=group._id%>?_method=PUT" method="post">
                Edit name of group: <input type="text" name="name" value="<%=group.name%>" /><br />
                Edit group photo URL: <input type="text" name="groupPhoto" value="<%=group.groupPhoto%>" /><br />
                <button type="submit">Update Group</button>
            
        </form>
    </main>
</body>

</html>