<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../../CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">

    <title></title>
</head>

<body class="grShowBody" id="groupShow" class="mainejs">
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/groups"><button>My Groups</button></a>
                </li>
                <!-- <li> -->
                    <!-- Mike on the lists and recipes for this group show
                    page - we want to link it to only
                    lists and recipes that are related to the group
                    right? If we do this, i think the links should be on
                    the page and not in the header to make them into the 
                    boxes we were talking about moving down for the time
                    being -->
                
                    <!-- <a href="/lists">Lists</a>
                </li>
                <li>
                    <a href="/recipes">Recipes</a>
                </li> -->
                <li>
                    <a href="/"><button>Logout</button></a>
                </li>
            </ul>
        </nav>
    </header>
    <main id="groupSMain"> 
        <h1 class="heading"><%=group.name%></h1>
        <h4>Group formed on <%=group.dateStarted%></h4>
        <section>
            <img src="<%=group.groupPhoto%>">
        </section>
        <!-- this is where I added some things -->
       
        <div>
            <a href="/recipes"><button>Group Recipes</button></a>
        </div>
        <div>
            <a href="/lists"><button>Group Lists</button></a>
        </div>
        <div>
            <a href="/pics"><button>Group Pictures</button></a>
        </div>
        <aside>
            <a href="/groups/<%=group._id%>/edit"><button>Edit Group</button></a>
            <form action="/groups/<%=group._id%>?_method=DELETE" method="post">
                <button type="submit">Delete Group</button>
            </form>
        </aside>
    </main>
</body>

</html>