<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../../CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">

    <title></title>
</head>

<body id="groupShow" class="mainejs">
    <header>
        <nav class="groupNavStuff">
            <ul class="navUl">
                <li>
                    <a href="/"><button>Home Page</button></a>
                </li>
                <li>
                    <a href="/groups"><button>My Get Togethers</button></a>
                </li>
            </ul>
        </nav>
    </header>
        <h1 class="primaryHeading"><%=group.name%></h1>
    <main class="groupMainContent" id="groupSMain"> 
        <section class="crop">
            <img class="groupShowPic" src="<%=group.groupPhoto%>">
        </section>
        <h4 class="heading">Group formed on <%=group.dateStarted%></h4>
        <!-- this is where I added some things -->
        <div class="groupLinks">
           
                <a href="/recipes"><button>Group Recipes</button></a>
           
            
                <a href="/lists"><button>Group Lists</button></a>
         
            
                <a href="/pics"><button>Group Pictures</button></a>
           
            <aside>
                <a href="/groups/<%=group._id%>/edit"><button>Edit Group</button></a>
                <form action="/groups/<%=group._id%>?_method=DELETE" method="post">
                    <button type="submit">Delete Group</button>
                </form>
            </aside>
        </div>
    </main>
</body>

</html>