<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css"  href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet" type="text/css" >

    <title></title>
</head>

<body id="groupShow" class="mainejs">
    <header class="otherContent">
        <nav>
            <ul class="navUl">
                <li>
                    <a href="/groups"><button>My Get Togethers</button></a>
                </li>
            </ul>
        </nav>
    </header>
    <h1 class="primaryHeading"><%=group.name%></h1>
    <main class="groupMainContent" id="groupSMain"> 
        <h4 class="heading">Group formed on <%=group.dateStarted%></h4>
        <!-- this is where I added some things -->
        <div class="groupLinks">
            
            <a href="/recipes"><button><%=group.name%> Recipes</button></a>
            
            
            <a href="/lists"><button><%=group.name%> Lists</button></a>
            
            
            <a href="/pics"><button><%=group.name%> Pictures</button></a>
            
            <aside>
                <a href="/groups/<%=group._id%>/edit"><button>Edit <%=group.name%></button></a>
                <form action="/groups/<%=group._id%>?_method=DELETE" method="post">
                    <button type="submit">Delete <%=group.name%></button>
                </form>
            </aside>
        </div>
    </main>
    <section class="rightsidecontent" class="crop" >
       <img class="groupShowPic" src="<%=group.groupPhoto%>">
    </section> 
	 
</body>

</html>