<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../../CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
    
    <title>Edit Recipes GT</title>
  </head>
  <body id="recEdit" class="mainejs">
    <header>
      <h1 class="heading">Edit <%=recipe.title%></h1>
        <nav>
           <ul>
             <li>
               <a href="/recipes/<%=recipe._id%>"><button>Back</button></a>
             </li>
             <li>
               <a href="/recipes"><button>Recipes Index</button></a>
             </li>
             <li>
              <a href="/"><button>Logout</button></a>
             </li>
          </ul>
       </nav>
    </header>
    <main id="recEMain">
      <h2 class="heading">Recipe Attributes</h2>
        <form action="/recipes/<%=recipe._id%>?_method=PUT" method="post">
            Select which group the Recipe belongs: <select name="groupId">
            <% for(let i = 0; i < groups.length; i++) { %>
            <option value="<%=groups[i]._id%>" <% if(groups[i]._id.toString() === recipeGroup._id.toString()){ %> selected <% } %>>
            <%=groups[i].name%>
            </option>
            <% } %>
          </select><br/>
            Edit recipe title: <input type="text" name="title" value="<%=recipe.title%>"/><br/>
            Edit recipe ingriedients: <textarea name="ingredients"><%=recipe.ingredients%></textarea><br/>
            Edit recipe instructions:<textarea name="instructions"><%=recipe.instructions%></textarea><br/>
            Edit recipe comments: <textarea name="comments"><%=recipe.comments%></textarea><br/>
            <button type="submit">Update Recipe</button>
      </form>
    </main>
  </body>
</html>
