<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Recipes GT</title>
  </head>
  <body>
    <header>
      <h1>Edit <%=recipe.title%></h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/recipes">Recipes Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Recipe Attributes:</h2>
      <form action="/recipes/<%=recipe._id%>?_method=PUT" method="post">
       
        <input type="text" name="title" value="<%=recipe.title%>"/><br/>
        <textarea name="ingredients"><%=recipe.ingredients%></textarea><br/>
        <textarea name="instructions"><%=recipe.instructions%></textarea><br/>
        <textarea name="comments"><%=recipe.comments%></textarea><br/>
        <button type="submit">Update Recipe</button>
      </form>
    </main>
  </body>
</html>
