<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Recipe</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/recipes">Back to <br> group recipes</a>
          </li>
          <li>
            <!--Mike this is another spot where we will need to be
                    specific about going back to the group associated
                    with the recipe -->
              <a href="/groups">My Groups</a>
          </li>
          <li>
            <a href="/">Home</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1><%=recipe.title%></h1>
      <small>
        Recipe from group: 
        <a href="/groups/<%=group._id%>"><%=group.name%></a>
      </small>
      <section><a href="/recipes/<%=recipe._id%>"><%=recipe.title%></a>
      </section>
      <section>
        <%=recipe.ingredients%>
      </section>
      <section>
        <%=recipe.instructions%>
      </section>
      <section>
        <%=recipe.comments%>
      </section>
      <section>
        <a href="/recipes/<%=recipe._id%>/edit">Edit Recipe</a>
        <form action="/recipes/<%=recipe._id%>?_method=DELETE" method="post">
          <button type="submit">Delete Recipe</button>
        </form>
      </section>
    </main>
  </body>
</html>
