<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Recipe</title>

    <link rel="stylesheet" href="../../CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">

  </head>
  <body class="mainejs" class="recShowBody" id="recShow">
    <header>
      <nav>
        <ul class="navUl">
          <li>
            <a href="/recipes"><button>Back to <br> group recipes</button></a>
          </li>
          <li>
            <!--Mike this is another spot where we will need to be
                    specific about going back to the group associated
                    with the recipe -->
              <a href="/groups"><button>My Groups</button></a>
          </li>
          <li>
            <a href="/"><button>Logout</button></a>
          </li>
        </ul>
      </nav>
    </header>
    <main id="recSMain">
      <h1 class="heading"><%=recipe.title%></h1>
      <small>
        Recipe from group: 
        <a href="/groups/<%=group._id%>"><%=group.name%></a>
      </small>
      <!-- <section><a href="/recipes/<%=
      // recipe._id
      %>">
      <%=
      // recipe.title
      %></a>
      </section> -->
      <section>
        Ingriedients: <%=recipe.ingredients%>
      </section>
      <section>
        Instructions: <%=recipe.instructions%>
      </section>
      <section>
        Comments: <%=recipe.comments%>
      </section>
      <section>
        <a href="/recipes/<%=recipe._id%>/edit">Edit Recipe</a>
        <form action="/recipes/<%=recipe._id%>?_method=DELETE" method="post">
          <button type="submit">Delete Recipe</button>
        </form>
      </section>
    </main>
  </body>
</html>
